.main {
    --sidebar-width: 12%;

    position: relative;
    margin-top: var(--nav-height);
    /* background-color: var(--clr-background-3); */
}

.sidebar {
    /* border: 1px solid red; */
    position: fixed;
    width: var(--sidebar-width);
    height: calc(100vh - var(--nav-height));
    padding-top: 10px;
    padding-left: 20px;
}

.sideBarNav {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.mainView {
    /* border: 1px solid blue; */
    margin-left: var(--sidebar-width);
    padding: 30px 80px;
}

.searchCriteriaContainer {
    display: flex;
    gap: 4px;
    margin-bottom: 30px;
}

.searchCriteriaContainer button:last-child {
    margin-left: auto;
}

.table,
.table tr,
.table tr td,
.table tr th {
    border: 1px solid white;
}

.table {
    table-layout: fixed;
    width: 80%;
    max-width: 80%;
    text-align: left;
}

.table th,
.table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table tr *:nth-child(1) {
    width: 25%;
}

.table tr *:nth-child(2) {
    width: 25%;
}

.table tr *:nth-child(3) {
    width: 15%;
}

.table tr *:nth-child(4) {
    width: 15%;
}

.table tr *:nth-child(5) {
    width: 15%;
}

.table tr *:nth-child(6) {
    width: 5%;
}