.main {
    width: 100vw;
    height: var(--nav-height);
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    display: flex;
    gap: 30px;
    padding: 0 13%;
}

.section {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 4em;
}

.logoText {
    min-width: fit-content;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.searchInput {
    width: 9vw;
    padding-left: 40px;
    transition: all 300ms;
}

.searchInput:focus {
    width: calc(9vw + 32px);
    padding-left: 8px;
}

.browseDesktop,
.browseMobile {
    margin-left: auto;
}

.dropdownIcon {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    transition: all 200ms ease;
}

.dropdownIcon.account {
    height: 55%;
    padding: 1px;
    border-radius: 50%;
    border: 2px solid var(--clr-foreground);
    fill: var(--clr-accent);
}

.dropdownIcon.mobile {
    height: 50%;
    fill: var(--clr-foreground);
}

.dropdownIcon.mobile.active {
    fill: var(--clr-primary);
}

.dropdownIcon.account.active {
    border-color: var(--clr-accent);
}

.dropdownMenu {
    opacity: 1;
    visibility: visible;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 170px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    border-radius: 6px;
    padding: 10px 0;
    background-color: var(--clr-background-clear);
    transition: all 200ms ease;
}

.dropdownMenu.hide {
    opacity: 0;
    visibility: hidden;
    transform: translate(-50%, -20px);
    transition: all 200ms ease;
}

.dropdownMenu.account a:last-child:hover {
    color: red;
}

/* Desktop Only */
@media screen and (min-width: 970px) {
    .browseMobile {
        display: none;
    }
}

/* Small Desktop and Smaller */
@media screen and (max-width: 1300px) {
    .searchInput {
        width: 11vw;
    }
    .searchInput:focus {
        width: calc(11vw + 32px);
    }
}

/* Tablet and Smaller */
@media screen and (max-width: 970px) {
    .main {
        padding: 0 9%;
    }
    .searchInput {
        width: 32vw;
    }
    .searchInput:focus {
        width: calc(32vw + 32px);
    }
    .browseDesktop {
        display: none;
    }
    .dropdownMenu {
        position: fixed;
        top: var(--nav-height);
        left: 0;
        transform: none;
        width: 100vw;
        border-radius: 0;
    }
    .dropdownMenu.hide {
        transform: translateX(20px);
    }
}

/* Mobile */
@media screen and (max-width: 600px) {
    .main {
        gap: 20px;
        padding: 0 5%;
    }
    .logoText {
        display: none;
    }
}


/* This doesn't keep navbar at full width of screen for some reason. not a priority though */
/* Skinny Mobile */
/* @media screen and (max-width: 300px) {
    .main {
        min-width: 100vw;
    }
} */